<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="info.tommarsh.mynews.onboarding">

    <dist:module
            dist:instant="false"
            dist:title="@string/title_onboarding">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>


    <application>
        <activity android:name=".ui.OnBoardingActivity"/>
    </application>
</manifest>