<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="marsh.tommarsh.article">

    <dist:module
            dist:instant="false"
            dist:onDemand="false"
            dist:title="@string/title_article">
        <dist:fusing dist:include="true"/>
    </dist:module>

    <application>
        <activity
                android:name=".ArticleActivity"
                android:label="@string/title_activity_article"
                android:theme="@style/MyTheme.DayNight.NoActionBar">
        </activity>
    </application>

</manifest>